
      <nz-content>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item></nz-breadcrumb-item>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="inner-content">

          <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Vigenere Cipher</h2>

  
          <div style="background: #ECECEC;padding:30px;width: 100%;">
  
            <nz-card style="width: 60%; margin-left: 20%;" [nzBordered]="false" nzTitle="Encryption">
              <div nz-row>
                <div nz-col nzSpan="12" nzOffset="2">
                  <input nz-input placeholder="Plain Text" name="plaintext" [(ngModel)]="textobj.plaintext" />
                </div>
                  <div nz-col nzSpan="6" nzOffset="2">
                    <input nz-input placeholder="Key" name="key1" [(ngModel)]="textobj.key1" />
                  </div>
                </div>
                <br>
                <br>
                <div nz-row>
                  <div nz-col nzSpan="20"  nzOffset="2">
                    <input nz-input placeholder="Cipher Text" name="encryptedtext" [(ngModel)]="textobj.encryptedtext" />
                  </div>
                  <br>
                  <br>
                  <br>
                  <div nz-col nzSpan = "20" nzOffset="2">
                    <button nz-button nzType="danger" (click)="encrypt()" style="width: 100%;">Encrypted</button>
                  </div>
                </div>
            </nz-card>
            <br>
  
            <div style="background: #ECECEC;  width: 100%;">
              <nz-card style ="width: 60%; margin-left: 20%;" [nzBordered]="false" nzTitle="Decryption" >
                <div nz-row>
                  <div nz-col nzSpan="12"  nzOffset="2">
                  <input nz-input placeholder="Cipher Text" name ="decryptedtext" [(ngModel)]="textobj.decryptedtext" />
                  </div>
                  <div nz-col nzSpan="6"  nzOffset="2">
                    <input nz-input placeholder="Key" name="key2" [(ngModel)]="textobj.key2" />
                  </div>
              </div>
              <br>
              <br>
      
              <div nz-row>
                <div nz-col nzSpan="20"  nzOffset="2">
                  <input nz-input placeholder="Plain Text" name="plaintext2" [(ngModel)]="textobj.plaintext2" />
                </div>
                <br>
                <br>
                <br>
                <div nz-col nzSpan = "20" nzOffset="2">
                  <button nz-button nzType="danger" (click)="decrypt()" style="width: 100%;">Decrypted</button>
                </div>
              </div>
              </nz-card>
            </div>
          </div>
  
        </div>
      </nz-content>
