<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style ="height: 750px;">
        <h2 style="color:crimson; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Ciphers<img src="assets/icons8-network-40.png"></h2>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <a routerLink = "/shift" routerLinkActive ="active"> <li nz-submenu nzTitle="Shift Cipher" > </li></a>
        <a routerLink = "/vigenere" routerlinkActive = "active"><li nz-submenu nzTitle="Vigenere Cipher" ></li></a>
        <a routerLink = "/substitution" routerLinkActive = "active"><li  nz-submenu nzTitle="Substitution Cipher" ></li></a>
        <a routerLink = "/playfair" routerLinkActive = "active"> <li nz-submenu nzTitle="Playfair Cipher" ></li></a>
        <a routerLink = "/railfence" routerLinkActive = "active"> <li nz-submenu nzTitle="Railfence Cipher" ></li></a>

  
    </ul>
    </nz-sider>
    <nz-layout>
        <h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"><b>Network Security And Cryptography <img src="assets/icons8-network-40.png"></b></h1>
        <router-outlet></router-outlet>
    </nz-layout>
</nz-layout>
<nz-footer style="text-align: center;">Ant Design ©2019 Implement By Hassan Fayyaz</nz-footer> 
